body, html { font-size: 100%; padding: 0; margin: 0; outline: 0;}
body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    margin-top:60px;
    background: #6699FF url('img/clouds.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;   background-size: cover;
}

/* 
	full background

	background: #FFF url(img/storm-front6.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;	background-size: cover;
/*

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

a { color: #6699FF;	text-decoration: none; font-weight: 400; }
a:hover, a:focus  { color: #6699FF; text-decoration: underline; font-weight: 400; }

.videoWrapper { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; clear:both; text-align: center; margin-bottom: 20px; margin-top:20px; }
.videoWrapper iframe, .videoWrapper object, .videoWrapper embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:none !important; }


/* NAV MENU */
.navbar-default {
	color: #FFF;
    background-color: #6699FF;
    border:none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.6);
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle .icon-bar {
    border-color: rgba(255,255,255,0.3);
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #F6F1ED;
    color: #6699FF;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #6699FF;
    background-color: #F6F1ED;
}
.nav .dropdown-menu>li>a {
    color: #6699FF;
}
.dropdown-header {
	color:#87b2ff;
}
.form-control {
    color: #6699FF;
    background-color: #fff;
    background-image: none;
    margin-top: 7px;
    border: 1px solid #6699FF;
}
.timestrap-sort {
	padding:10px;
	width:300px;
}

/* HEADER */
.container-fluid.white-bg { background:rgba(255,255,255,0.8); }
.container-fluid.white-bg h1 { margin: 60px auto;
    text-align: center;
    text-transform: uppercase;
    color: #6699FF; }

.milestone {
    color: #FFF;
    font-size: 3em;
    text-align: center;
    margin: 60px 0;
    text-transform: uppercase;
}
.box.panel { padding:40px 20px; }
.box-icon { text-align: center; }

#timestrap-share-panel {
    display:none;
    text-align:center;
}
.timestrap-backup {
    display:none;
    margin:0;
    padding:10px;
}
.timestrap-backup label {
    margin-top:14px;
}

#timestrap-share-panel a.timestrap-share {
    width: 80px;
    height: 80px;
    display: inline-block;
    clear: none;
    color: #6699FF;
    padding: 15px 10px;
    margin: 1px;
    font-size: 50px;
}
#timestrap-share-panel a.timestrap-share:hover,
#timestrap-share-panel a.timestrap-share:focus {
    background-color: #6699FF;
    color: #FFF;
    text-decoration: none;
}




/* TIMELINE */
.timestrap { padding: 20px 0;}
.timestrap .section { display:none; }


/* TIMESTRAP PANEL */
.timestrap div.panel {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    margin-top:10px;
}
.timestrap .permalink {
    float: right;
}
.timestrap-share-menu {
    max-width:280px;
    left:auto;
    right:0;
    padding:10px;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.timestrap-share-menu a.well {
    white-space: pre;
    word-wrap: break-word;
    word-break: break-all;
    color:#6699FF;
    font-weight:400;
    margin:5px;
    text-align: left;
    font-size:0.8em;
}
.timestrap-share-menu a.timestrap-share {
    width: 42px;
    height: 42px;
    display: inline-block;
    clear: none;
    color: #6699FF;
    padding: 0;
    margin: 1px;
    font-size: 32px;
}
.timestrap div.panel .timestrap-share-menu a.timestrap-share:hover,
.timestrap div.panel .timestrap-share-menu a.timestrap-share:focus {
    background-color: #6699FF;
    color: #FFF;
    text-decoration: none;
}


.timestrap div.panel .panel-heading {
    min-height: 200px;
    background: #fff url(http://4hdwallpapers.com/wp-content/uploads/2013/04/The-Lion-King-Desktop-1024x640.jpg) no-repeat top center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.timestrap div.panel h4.time {
    margin: 0 0 20px 0;
}
.timestrap div.panel .media {
    margin-top:0;
}
.timestrap div.panel .media-body {
    width: auto;
    display:block;
}
.timestrap div.panel .media-heading {
    color: #333;
    margin-right: 30px;
}
.timestrap div.panel .panel-body {
    padding: 20px;
}
.timestrap div.panel .panel-body .img-circle {
    height: 90px;
    width: 90px;
    padding: 8px;
    border: 1px solid #e2dfdc;
    float:left;
    margin-right:20px;
}
.timestrap div.panel .panel-footer {
    padding: 0px;
    border: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.timestrap div.panel .panel-footer .btn-group .btn {
    border: none;
    font-size: 1.2em;
	background-color: #f5f5f5;
    color: #999;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 15px 0;
}
.timestrap div.panel .panel-footer .btn-group .btn:hover {
    color: #F6F1ED;
    background-color: #6699FF;
}
.timestrap div.panel .panel-footer .btn-group>.btn:not(:first-child) {
    border-left: 1px solid #fff;
}
.timestrap div.panel .panel-footer .btn-group .highlight {
    color: #6699FF;
    background-color: #FFF;
}

div.tags {
    margin-top: 20px;
}
div.tag {
    display: inline-block;
    margin-right:10px;
    opacity:0.8;
}
div.tag span.glyphicon {
    position:relative;
    top:2px;
}
/*-- Common Use Classes --*/
.btn-ui {
    background-color: #E55F3A;
    border-color: #C54A28;
    color: #fff;
}
.btn-ui:hover {
    background-color: #E0624C;
    color: #fff;
}
.list-block {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.list-block ul {
    display: table-row;
}
.list-block li {
    display: table-cell;
    margin: 0;
}
.pad-left-0 {
    padding-left: 0px;
}
.pad-right-0 {
    padding-right: 0px;
}
.mrg-btm-10 {
    margin-bottom: 10px;
}
.mrg-btm-20 {
    margin-bottom: 20px;
}


/*-- Pie Chart Widget --*/
#pie-chart-widget .panel-body {
    padding: 0px;
}
#pie-chart-widget .panel-footer {
    background-color: #fff;
    padding: 0px;
    margin-top: 20px;
}
#pie-chart-widget .panel-footer .btn {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 0px;
    color: #fff;
    background-color: #6699FF;
    border-top: 3px solid #6d6257;
}
#pie-chart-widget .panel-footer .btn:hover {
    background-color: #6699FF;
    border-color: #52483F;
}
#pie-chart-widget h2 {
    font-weight: 700;
    margin: 3px 0 0 0;
}
#pie-chart-widget .legend li {
    background-color: #F5F0EC;
    padding: 20px 10px;
}
#pie-chart-widget .legend li:not(:first-child) {
    border-left: 1px solid #fff;
}
#pie-chart-widget .legend .entries {   
    border-top: 4px solid #4DAF7C; 
}
#pie-chart-widget .legend .videos {
    border-top: 4px solid #EAC85D;
}
#pie-chart-widget .legend .photos {
    border-top: 4px solid #E25331;
}
#pie-chart-widget .legend .references {
    border-top: 4px solid #6699FF;
}



/* SLIDER */
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-shade {
  	background: rgba(0,0,0,0.4) url("img/dot.png") 0 0 repeat;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.theme-default .nivo-caption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.6) url("img/dot.png") 0 0 repeat;
    padding-top: 20%;
}
.theme-default .nivo-caption h1 {
	font-size:4rem;
	color:#6699FF;
    font-weight:700;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.theme-default .nivo-caption h3 {
	font-size:1.2rem;
    font-weight:700;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
    color:#FFF;
}
.theme-default .nivo-caption a.btn-see-through {
    position: relative;
    top: 20px;
    border: 1px solid rgba(255,255,255, 0.5);
    color: rgba(255,255,255, 0.5);
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    padding: 50px 0 0 0;
    background:#6699FF;
    color:#DDD;
}
.footer {
  background: #EDEFF1;
  height: auto;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a, .footer ul li span {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}
.footer a:hover, .footer-bottom a:hover, .footer a:focus, .footer-bottom a:focus, a.rednet:hover, a.rednet:focus, {
  color: #6699FF;
  font-weight:700;
  text-decoration: none;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #6699FF;
  border: 2px solid #6699ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #000000;
  background: #000000;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #FFFFFF !important;
}
.footer-bottom {
  background: #000000;
  border-top: 1px solid #DDDDDD;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
  color:#888888;
}
.payments {
  font-size: 1.5em; 
}

a.rednet {
  line-height: 20px;
  vertical-align: middle;
  padding:0;
  border:0;
  margin:0 0 10px 0;
  position:relative;
  top:6px;
  font-weight: 700;
}

.rednet img {
  width:20px;
  height:20px;
  margin-right:5px;
}

.right a {
  padding-right: 25px;
  border-right: 1px solid #ffffff;
}

.fa-facebook:before, .fa-twitter:before, .fa-youtube:before {
    position: relative;
    left: -2px;
    top: -1px;
}


/* ANIMATED BACKGROUND */		
.full {
	background:#007fd5;
	position:relative;
	overflow:hidden;
	-webkit-animation:sky_background 50s ease-out infinite;
	-moz-animation:sky_background 50s ease-out infinite;
	-o-animation:sky_background 50s ease-out infinite;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0)
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; 
  text-align: center;
  height:400px;
}
		
.clouds {
	background:url("img/clouds.png"); 
	opacity:0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:300%;
	-webkit-animation:clouds 50s linear infinite;
	-moz-animation:clouds 50s linear infinite;
	-o-animation:clouds 50s linear infinite;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	pointer-events: none;
	z-index: 3;
}
.clouds1 {
	background:url("img/clouds.png"); 
	opacity:0.6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:200%;
	-webkit-animation:clouds 50s linear infinite;
	-moz-animation:clouds 50s linear infinite;
	-o-animation:clouds 50s linear infinite;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	pointer-events: none;
	z-index: 3;
}
.clouds2 {
	background:url("img/cloud_three.png"); 
	opacity:0.6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:200%;
	-webkit-animation:clouds 50s linear infinite;
	-moz-animation:clouds 50s linear infinite;
	-o-animation:clouds 50s linear infinite;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	pointer-events: none;
	z-index: 3;
}


@-webkit-keyframes sky_background {
	0% {
		background:#007fd5;
		color:#FFFFFF;
	}
	
	50% {
		background:#000;
		color:#6699FF;
	}
	
	100% {
		background:#007fd5;
		color:#FFFFFF;
	}
}

@-webkit-keyframes clouds {
	0% {
		left:0
	}

	100% {
		left:-200%
	}
}

@-moz-keyframes sky_background {
	0% {
		background:#007fd5;
		color:#007fd5
	}
	
	50% {
		background:#000;
		color:#a3d9ff
	}
	
	100% {
		background:#007fd5;
		color:#007fd5
	}
}


@-moz-keyframes clouds {
	0% {
		left:0
	}

	100% {
		left:-200%
	}
}


@media screen and (min-width: 1200px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 1024px) {
    .clouds, .clouds1, .clouds2 {
        background: rgba(0,0,0,0.4) url("img/dot.png") 0 0 repeat;
    }
}

@media (max-width: 767px) {
	.timestrap div.panel .panel-footer .btn-group .btn {
	    width:100%;
	    display:block;
	}
    .theme-default .nivo-caption h1 {
        font-size: 1.5rem;
    }
    .theme-default .nivo-caption h3 {
        font-size: 1rem;
    }
    .theme-default .nivo-caption .btn-see-through {
        font-size: .5rem;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
    }
    .dropdown-header {
        color: #DDD;
    }
    .timestrap-about {
        text-align: center;
    }
    img.img-circle {
        max-width: 200px;
        margin:0 auto;
        float: none;
    }
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

}

@media screen and (max-width: 767px) {

}

