*.*~
*.pyc
__pycache__/
*.py[cod]

demo_app/nostradamIQ/*.*~
demo_app/nostradamIQ/webapp/API_KEYS.py
demo_app/nostradamIQ/webapp/API_KEYS.py[cod]
demo_app/nostradamIQ/*.pyc
demo_app/nostradamIQ/webapp/*.pyc
demo_app/nostradamIQ/complete_NuCat.sql
demo_app/nostradamIQ/__pycache__/
demo_app/nostradamIQ/*.py[cod]
demo_app/nostradamIQ/webapp/*.py[cod]

NLP/*.*~
NLP/API_KEYS.py
NLP/API_KEYS.py[cod]
NLP/*.py[cod]
NLP/*.pyc
NLP/corpori/old_trans
NLP/old
NLP/*.txt

nostradamIQ-htmengine-app
nostradamIQ-htmengine-app/*
nostradamIQ-htmengine-app/*/*
nostradamIQ-htmengine-app/*/*/*

_dev
_dev/*

# nostradamIQ-landingpage/img/IBM.png
# nostradamIQ-landingpage/img/SAS.png
# nostradamIQ-landingpage/img/PDC.png
# nostradamIQ-landingpage/img/numenta.png
# nostradamIQ-landingpage/img/Numenta.jpg
# nostradamIQ-landingpage/img/Lab75.png
# nostradamIQ-landingpage/img/TEDx.png


# nostradamIQ-webapp
# nostradamIQ-webapp/*
# nostradamIQ-webapp/*/*
# nostradamIQ-webapp/*/*/*
# nostradamIQ-webapp/*/*/*/*


nostradamIQ-webapp/.idea
nostradamIQ-webapp/.idea/
nostradamIQ-webapp/.idea/*

nostradamIQ-webapp/cesium-leap
nostradamIQ-webapp/cesium-leap/*
nostradamIQ-webapp/cesium-leap/*/*

nostradamIQ-webapp/proxy/cache.json

nostradamIQ-webapp/proxy/cors-anywhere
nostradamIQ-webapp/proxy/cors-anywhere/*
nostradamIQ-webapp/proxy/cors-anywhere/*/*

nostradamIQ-webapp/proxy/node-http-proxy
nostradamIQ-webapp/proxy/node-http-proxy/*
nostradamIQ-webapp/proxy/node-http-proxy/*/*

nostradamIQ-webapp/services/geodict

nostradamIQ-webapp/proxy/netjs
nostradamIQ-webapp/proxy/netjs/*
nostradamIQ-webapp/proxy/netjs/*/*

nostradamIQ-webapp/proxy/traytention
nostradamIQ-webapp/proxy/traytention/*
nostradamIQ-webapp/proxy/traytention/*/*

nostradamIQ-webapp/proxy/CORS-Proxy

nostradamIQ-webapp/proxy/server_old
nostradamIQ-webapp/proxy/old

nostradamIQ-webapp/services/twitter/corpori/places
nostradamIQ-webapp/services/twitter/corpori/places/*

nostradamIQ-webapp/services/twitter/pyner

nostradamIQ-webapp/layers
nostradamIQ-webapp/layers/*
nostradamIQ-webapp/layers/*/*
nostradamIQ-webapp/layers/*/*/*

nostradamIQ-webapp/mobile-test
